/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
npm-debug.log.2302168815
npm-debug.log.3692793831
npm-debug.log.1043512005
npm-debug.log.410442632
npm-debug.log.1514382865
npm-debug.log.2141468890
npm-debug.log.2141156408
.vscode/launch.json